:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	background: linear-gradient(#2a00b7, #42006c);
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
.container {
	display: flex;
	flex-direction: column;
	margin: auto;
	/* margin-top: 200px; */
	/* background: #fff; */
	padding-bottom: 30px;
	width: 600px;
}
.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 9px;
	width: 100%;
	margin-top: 30px;
}
.text {
	color: #cab5e9;
	font-size: 48px;
	font-weight: 700;
}
.underline {
	width: 61px;
	height: 6px;
	background: #6b3bb8;
	border-radius: 9px;
	margin-bottom: 20px;
}
.inputs {
	margin-top: 55px;
	display: flex;
	flex-direction: column;
	gap: 25px;
}
.input {
	display: flex;
	align-items: center;
	margin: auto;
	width: 480px;
	height: 80px;
	background: #eaeaea;
	border-radius: 6px;
}
.input img {
	margin: 0px 30px;
}
.input input {
	height: 50px;
	width: 400px;
	background: transparent;
	border: none;
	outline: none;
	color: #797979;
	font-size: 19px;
}
.forgot-password {
	margin-top: 27px;
	color: #797979;
	font-size: 18px;
}

.forgot-password span {
	color: #cab5e9;
	cursor: pointer;
}

.submit-container {
	display: flex;
	gap: 30px;
	margin: 40px auto;
}

.submit {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 59px;
	color: #fff;
	background: #4c00b4;
	border-radius: 50px;
	font-size: 19px;
	font-weight: 700;
	cursor: pointer;
}

.gray {
	background: #eaeaea;
	color: #676767;
}
